@model EventEase.Models.Event

@{
    ViewData["Title"] = "Delete Event";
}

<div class="container mt-5">
    <h1 class="text-danger">Delete Event</h1>
    <p class="lead">Are you sure you want to delete this event?</p>

    <div class="card border-danger mb-4">
        <div class="card-header bg-danger text-white">
            Event Details
        </div>
        <div class="card-body">
            <dl class="row mb-0">
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.EventName)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.EventName)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.EventDate)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.EventDate)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.EventDescription)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.EventDescription)</dd>
            </dl>
        </div>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="EventID" />
        <div class="d-flex gap-2">
            <input type="submit" value="Confirm Delete" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>
